
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    h1{
        text-align: center;
    }

    .container {
      display: flex;              /* Enable flexbox */
      border: 3px dashed gray;
      padding: 10px;
      margin-bottom: 40px;
    }

    .box {
      background: rgb(41, 142, 175);
      border: 2px solid navy;
      padding: 20px;
      margin: 5px;
      text-align: center;
      flex: 1; /* allows boxes to grow equally */
    }

    /* Variations */
    .row {
      flex-direction: row; /* default: left to right */
    }

    .row-reverse {
      flex-direction: row-reverse;
    }

    .column {
      flex-direction: column; /* top to bottom */
    }

    .space-between {
      justify-content: space-between; /* spread out */
    }

    .center {
      justify-content: center; /* center horizontally */
      align-items: center;     /* center vertically */
      height: 200px;
    }
